html {
  box-sizing: border-box;
  font-family: Georgia, serif;
  font-size: 2rem;
  line-height: 1.5;
  margin: 1rem;
  background-color: #f2f1ed;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  /* Remove the <header> box and allow us to directly apply header’s children to the grid. */
  display: contents;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

img {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  width: 100%;
}

h1 {
  grid-column: 1;
  grid-row: 3;
  z-index: 1;
  margin-bottom: 0;
  max-width: 14rem;
  padding-right: 2rem;
}

h2 {
  font-family: "Patua One", sans-serif;
  margin: .5rem 0 0;
  color: #30658d;
  font-size: .75em;
}

p {
  margin: 0;
  font-size: .5em;
  margin-bottom: 1em;
}

nav {
  padding-right: 1rem;
  grid-column: 3 / -1;
  grid-row: 1;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}

li a {
  font-family: "Patua One", sans-serif;
  text-decoration: underline;
  color: #fff;
}

main {
  display: grid;
  display: flex;
  grid-template-areas: "area1 area2";
  padding: 0;
}

main > figure:nth-child(1) {
  grid-area: area1;
  margin-left: 0;
  margin-right: 0;
}

main > figure:nth-child(2) {
  grid-area: area2;
  margin-right: 0;
  align-self: center;
}

figure {
  margin: .5rem;
}
